.heading-section {
  position: relative;
}
.heading-section .subheading {
  font-size: 13px;
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: black;
  letter-spacing: 3px;
}
.heading-section h1.big {
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 7vw;
  color: rgba(255, 255, 255, 0.1);
  z-index: -1;
  font-weight: 900;
}
.heading-section h1.big.big-2 {
  right: 0;
}
.heading-section h2 {
  font-size: 50px;
  font-weight: 700;
}
.heading-section h2 span {
  font-weight: 400;
}
@media (max-width: 767.98px) {
  .heading-section h2 {
    font-size: 38px;
  }
}
.heading-section.heading-section-white .subheading {
  color: rgba(255, 255, 255, 0.9) !important;
}
.heading-section.heading-section-white h2 {
  color: #fff;
}
.heading-section.heading-section-white p {
  color: rgba(255, 255, 255, 0.9);
}

.img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

#section-counter {
  position: relative;
  z-index: 0;
}

@media (max-width: 1199.98px) {
  .ftco-counter {
    background-position: center center !important;
  }
}

.ftco-counter .block-18 {
  display: block;
  width: 100%;
  text-align: center;
  padding: 30px 20px;
}

.ftco-counter .text strong.number {
  font-weight: 700;
  font-size: 30px;
  color: #aeb784;
  display: block;
}

.ftco-counter .text span {
  display: block;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 767.98px) {
  .ftco-counter .counter-wrap {
    margin-bottom: 20px;
  }
}

.ftco-counter .ftco-number {
  display: block;
  font-size: 72px;
  font-weight: bold;
  color: #aeb784;
}

.ftco-counter .ftco-label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
}

.blog-entry {
  position: relative;
}
@media (min-width: 768px) {
  .blog-entry {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .blog-entry {
    margin-bottom: 30px;
  }
}
.blog-entry .text {
  width: 100%;
  margin: 0 auto;
}
.blog-entry .text .heading {
  font-size: 20px;
  margin-bottom: 16px;
  font-weight: 500;
}
.blog-entry .text .heading a {
  color: #000000;
}
.blog-entry .text .heading a:hover,
.blog-entry .text .heading a:focus,
.blog-entry .text .heading a:active {
  color: #aeb784;
}
.blog-entry .meta {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
}
.blog-entry .meta span {
  color: #aeb784;
}
.blog-entry .meta a {
  color: #aeb784;
}
.blog-entry .meta a:hover {
  color: #aeb784;
}

.block-23 ul {
  padding: 0;
}
.block-23 ul li,
.block-23 ul li > a {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
}
.block-23 ul li span {
  color: rgba(255, 255, 255, 0.7);
}
.block-23 ul li .icon,
.block-23 ul li .text {
  display: table-cell;
  vertical-align: top;
}
.block-23 ul li .icon {
  width: 40px;
  font-size: 18px;
  padding-top: 2px;
  color: white;
}

.block-6 {
  margin-bottom: 40px;
}
.block-6 .media-body p {
  font-size: 16px;
}

.block-27 ul {
  padding: 0;
  margin: 0;
}
.block-27 ul li {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
}
.block-27 ul li a,
.block-27 ul li span {
  color: #a0f669;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #cccccc;
}
.block-27 ul li.active a,
.block-27 ul li.active span {
  background: #a0f669;
  color: #fff;
  border: 1px solid transparent;
}

.contact-section .contact-info p a {
  color: #1a1a1a;
}

.contact-section .box {
  width: 100%;
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
@media (max-width: 991.98px) {
  .contact-section .box {
    margin-bottom: 30px;
  }
}
.contact-section .box .icon {
  width: 100px;
  height: 100px;
  background: #aeb784;
  margin: 0 auto;
  margin-bottom: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.contact-section .box .icon span {
  color: #fff;
  font-size: 30px;
}
.contact-section .box h3 {
  font-size: 18px;
  font-weight: 600;
}

.contact-section .contact-form {
  width: 100%;
}

.contact-section .img {
  width: 100%;
  background-position: top center;
}
@media (max-width: 991.98px) {
  .contact-section .img {
    height: 500px;
  }
}

.contact-section .contact-info p a {
  color: #aeb784;
}

.contact-section .contact-form {
  width: 100%;
}
@media (max-width: 767.98px) {
  .contact-section .contact-form .btn-primary {
    display: block;
    width: 100%;
  }
}

.block-9 .form-control {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
}

.block-21 .blog-img {
  display: block;
  height: 80px;
  width: 80px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.block-21 .text {
  width: calc(100% - 100px);
}
.block-21 .text .heading {
  font-size: 18px;
  font-weight: 300;
}
.block-21 .text .heading a {
  color: #000000;
}
.block-21 .text .heading a:hover,
.block-21 .text .heading a:active,
.block-21 .text .heading a:focus {
  color: #aeb784;
}
.block-21 .text .meta > div {
  display: inline-block;
  margin-right: 5px;
}
.block-21 .text .meta > div a {
  color: #4d4d4d;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

/* Blog*/
.post-info {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.1em;
}
.post-info > div {
  display: inline-block;
}
.post-info > div .seperator {
  display: inline-block;
  margin: 0 10px;
  opacity: 0.5;
}

.tagcloud a {
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 10px;
  margin-bottom: 7px;
  margin-right: 4px;
  border-radius: 4px;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 11px;
}
.tagcloud a:hover {
  border: 1px solid #000;
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
}
.comment-list .children {
  padding: 50px 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}
.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}
.comment-list li .vcard {
  width: 80px;
  float: left;
}
.comment-list li .vcard img {
  width: 50px;
  border-radius: 50%;
}
.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}
.comment-list li .comment-body h3 {
  font-size: 20px;
}
.comment-list li .comment-body .meta {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.3);
  color: #aeb784;
  font-weight: 600;
  margin-bottom: 20px;
}
.comment-list li .comment-body .reply {
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.1);
  color: #000000;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 600;
  border-radius: 4px;
}
.comment-list li .comment-body .reply:hover {
  color: #fff;
  background: black;
}

.search-form .form-group {
  position: relative;
  margin-bottom: 0;
}
.search-form .form-group input {
  padding-right: 50px;
  font-size: 14px;
}

.search-form .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;
}
.sidebar-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
.sidebar-box .heading-sidebar {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 20px;
}

.categories,
.sidelink {
  padding: 0;
  margin: 0;
}
.categories li,
.sidelink li {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  list-style: none;
}
.categories li:last-child,
.sidelink li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
.categories li a,
.sidelink li a {
  display: block;
  color: #000000;
}
.categories li a span,
.sidelink li a span {
  position: absolute;
  right: 0;
  top: 0;
  color: #aeb784;
}
.categories li a:hover,
.categories li a:focus,
.sidelink li a:hover,
.sidelink li a:focus {
  color: #aeb784;
}
.categories li.active a,
.sidelink li.active a {
  color: #000000;
  font-style: italic;
}

