<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light site-navbar-target"
  id="ftco-navbar"
>
  <div class="container">
    <button
      class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <div class="profile-section text-center mb-4">
        <img
          src="images/about.jpg"
          alt="Profile"
          class="profile-img mb-3 mt-4"
          style="
            width: 150px;
            height: 180px;
            object-fit: cover;
            border-radius: 12px;
          "
        />
        <h5 class="profile-name" style="margin: 0; font-weight: 600">이지은</h5>
        <p style="margin: 0; font-size: 14px; color: #666">Lee Jieun</p>
      </div>
      <div class="sidebar-edu mt-3 mb-3 text-left w-100">
        <h6 class="sidebar-edu-title">Education</h6>
        <ul class="profile-edu-list">
          <li>
            <span class="edu-year">2021</span>
            <span class="edu-text">부산동여자고등학교 졸업</span>
          </li>
          <li>
            <span class="edu-year">2026</span>
            <span class="edu-text">부산대학교 IT응용공학과 학사</span>
          </li>
        </ul>
      </div>
      <ul class="navbar-nav nav ml-auto">
        <li class="nav-item">
          <a href="#profile-section" class="nav-link"><span>Profile</span></a>
        </li>
        <li class="nav-item">
          <a href="#project1-section" class="nav-link"><span>Project1</span></a>
        </li>
        <li class="nav-item">
          <a href="#project2-section" class="nav-link"><span>Project2</span></a>
        </li>
        <li class="nav-item">
          <a href="#project3-section" class="nav-link"><span>Project3</span></a>
        </li>
        <li class="nav-item">
          <a href="#skills-section" class="nav-link"><span>Skills</span></a>
        </li>
        <li class="nav-item">
          <a href="#contact-section" class="nav-link"><span>Contact</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
